<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Prestasi SD Muhammadiyah 4 Pucang
      </nb-card-header>
      <nb-card-body>
        <p><img src="assets/images/sd-muhammadiyah-4.png" alt="Logo SDM4" width="250"></p>
      <br>
      <ol>
        <li>Sekolah Teladan Nasional dari LiPI-KEMDIKNAS-DEPAG</li>
        <li>Juara Umum Grand Olycon (Tahun 2010-2012)</li>
        <li>Sekolah Unggul peringkat ke-1 oleh Majelis Dikdasmen Pimpinan Wilayah Muhammadiyah Jawa Timur (Tahun 2006-2011)</li>
        <li>The Outsanding School oleh Majelis Dikdasmen Pimpinan Wilayah Muhammadiyah Jawa Timur (Tahun 2012)</li>
        <li>QMS ISO 9001:2000 dan QMS ISO 9001:2008</li>
        <li>Sekolah Dasar Standar Nasional (SDSN)</li>
        <li>Akreditasi A</li>
        <li>Menjalin kerjasama dengan sekolah di Australia, Jepang, Malaysia dan Singapura (sister school)</li>
        <li>Rekor MURI Band Termuda</li>
        <li>Rekor MURI Tarik Tambang Terpanjang</li>
        <li>Rekor MURI Panahan</li>
      </ol>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="col-md-8">

    <nb-card>
      <nb-card-header>
        Sambutan Kepala Sekolah SD Muhammadiyah 4 Pucang
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="font-row font-main">
            <div class="header">
              <!--<div class="name bold">Sambutan Kepala Sekolah</div>-->
              <h4>Assalamu'alaykum warahmatullaahiwabarakaatuh</h4>
            </div>

            <p>
              Berkat Rahmat Allah SWT semoga kita dalam lindungan-Nya. Amiin...
            </p>

            <p><img src="assets/images/budaya mutu.jpg" alt="Prestasi Sekolah" width="500"></p>

            <p>
              Dunia pendidikan selalu dituntut untuk melakukan innovasi dan kreasi dalam memberikan pelayanan yang lebih cepat dan memuaskan. Teknologi sudah menjadi kebutuhan dasar bagi masyarakat Indonesia dalam belajar dan memberikan pelayanan sehingga perlu usaha memberikan akses yang cepat terhadapa terpenuhinya tuntutan masyarakat. SD Muhammadiyah 4 Pucang Surabaya, Sekolah Teladan Nasional dan Sekolah terbaik di Jawa Timur tentu wajib memberikan teladan dalam pengembangan pelayanan melalui teknologi informasi, salah satunya melalui website sekolah.
            </p>
            <p>
              Accumsan lobortis cras metus a a non id vestibulum libero venenatis sit malesuada adipiscing sagittis adipiscing a suspendisse pulvinar semper condimentum condimentum et aliquam potenti a vestibulum justo. In rutrum massa dis condimentum elementum gravida suspendisse leo fringilla ultricies leo vestibulum commodo sed sem iaculis tempor molestie ullamcorper scelerisque mus. Suscipit condimentum ac fusce ad elit suscipit ac lacinia a eros ornare hendrerit vestibulum ad duis commodo mattis parturient at class et sociis etiam euismod vulputate litora a.
            </p>
            <p>
              Varius sagittis egestas in cursus elit vestibulum suscipit taciti hac fermentum dapibus suspendisse rhoncus vestibulum suspendisse ad a. Ullamcorper a vivamus semper rhoncus nunc ullamcorper sit parturient condimentum non amet habitasse vestibulum proin scelerisque rhoncus adipiscing sem etiam. Magnis aliquet tincidunt tempor ultricies cubilia montes cubilia iaculis fames vel adipiscing duis urna aptent ultricies sodales condimentum parturient. Scelerisque ac adipiscing himenaeos mollis magnis a a nullam vestibulum habitasse penatibus sem velit phasellus a hendrerit augue hendrerit convallis cras. Cum inceptos conubia iaculis vestibulum donec erat lectus diam potenti at conubia a ante morbi donec ligula nascetur suspendisse vestibulum aliquam consequat fames praesent elit venenatis a a.

              Lobortis ac iaculis natoque fringilla.
            </p>
            <br><br>
            <p>Edy Susanto, M.Pd.</p>

          </div>

        </div>

      </nb-card-body>

    </nb-card>



  </div>
</div>
