<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="font-row font-secondary">
        <div class="header">
          <div class="name bold">Tendensi Hemisfer Otak</div>
        </div>

        <p>
          Belahan otak kanan dan otak kiri bekerja dengan cara yang berbeda. Belahan otak kiri bekerja dari perihal yang spesifik menuju yang global; dia mengurutkan sesuatu, menempatkan urusan-urusan secara tertata, dan bersifat logis. Bila belahan otak kiri berfokus lebih pada detail, maka belahan otak kanan berfokus lebih pada gambaran besar secara holistik dan keseluruhan. Hemisfer kanan belajar dari yang global menuju spesifik; dia tidak mengurutkan atau menata sesuatu.
        </p>
        <p>Bagi kebanyakan orang, hemisfer kiri mengendalikan aktivitas berbicara, dan masing-masing hemisfer mengendalikan dan merasakan sisi tubuh yang berlawanan serta melihat dunia secara bertolak belakang. Hemisfer kanan dan kiri bahkan berbeda secara anatomis selama usia balita. Para balita dan anak kecil biasa alami kesulitan dalam membandingkan informasi yang berasal dari tangan kiri atau kanan karena corpus callosum mereka belum matang. Namun kita bukanlah orang dengan kepribadian terpecah dan bertentangan antara kanan dan kiri. Hemisfer kiri dan kanan kita selalu menemukan cara untuk bisa bekerjasama. Dan sudah jelas, meski setiap kita punyai tendensi pada salah satu hemisfer, tidaklah mungkin seseorang bisa hidup dengan hanya mengandalkan satu hemisfer saja.</p>
      </div>

    </div>

  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Penjelasan dari pakar</nb-card-header>
      <nb-card-body>
        <p>
          Untuk mendapatkan gambaran lebih jauh terkait bagaimana dampak ekstrim tendensi hemisfer pada diri Anda, mari simak penjelasan dari Dr. Jill Bolte Taylor, seorang neuroanatomist/brain scientist. Anda dapat menonton video Dr. Jill di TED.com
        </p>
        <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%">
          <iframe src="https://embed.ted.com/talks/lang/id/jill_bolte_taylor_s_powerful_stroke_of_insight" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen>
          </iframe></div></div>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Hemisfer Kanan">
          <br><p>
              Otak kanan kita hanya memikirkan saat ini. Hanya tentang yang di sini, saat ini. Otak kanan kita, berpikir dalam gambar dan belajar secara kinestetik melalui gerakan-gerakan badan kita. Informasi, dalam bentuk energi, mengalir masuk bersamaan melalui semua indra perasa kita dan kemudian meledak menjadi rangkaian gambar yang besar yang berisikan wujud yang nampak dari momen saat ini, seperti apa bau dan rasa momen saat ini, seperti apa tekstur dan suara momen saat ini. Hemisfer kanan membuat diri kita merasa sebagai suatu energi yang terhubung dengan seluruh di sekitar kita, baik makhluk hidup maupun benda mati. Hemisfer kanan membuat kita serasa satu dengan yang lain. Hemisfer kanan ini juga lah yang membuat kita mampu mengapresiasi keindahan.
            </p>

          </nb-tab>
          <nb-tab tabTitle="Hemisfer Kiri">
            <br><p>
            Otak kiri kita adalah tempat yang sangat berbeda. Otak kiri kita berpikir secara linear dan metodologis (runtut mengikuti tata cara tertentu). Bagian kiri otak kita hanya memikirkan masa lalu dan masa depan. Bagian otak kiri kita didesain untuk menerima rangkaian gambar besar tentang momen saat ini dan mulai memilih detil, detil dan lebih banyak detil tentang detil yang terpilih. Lalu dia mengkategorikan dan mengorganisasikan semua informasi itu, menghubungkannya dengan semua yang kita pernah pelajari di masa lalu, dan memproyeksikan semua kemungkinan kita di masa depan. Dan otak kiri kita berpikir dalam bahasa. Dialah celotehan otak yang menghubungkan kita dengan dunia internal kita ke dunia eksternal kita. Berbeda dengan hemisfer kanan yang membuat kita merasa menyatu dengan sekitar, hemisfer kiri kita lah yang membuat diri kita memiliki identitasi &quot;AKU&quot; yang membuat Anda menjadi energi yang terpisah dari yang lain di sekitar Anda.
          </p>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
