Hasil hemisfer works!

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Inline form</nb-card-header>
      <nb-card-body>
        {{ kontenHemisfer }}
      <br>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Komposisi</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-hemisfer-pie></ngx-chartjs-hemisfer-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Catatan dan ToDo List</nb-card-header>
      <nb-card-body>
        Namun jangan kemudian menjadi orang otak-kiri secara ekstrim, karena itu akan buruk bagi Anda. Anda juga perlu mengembangkan sisi hemisfer kanan Anda dengan melakukan semisal:
        <ul class="mb-5">
          <li>Beri perhatian lebih pada BAGAIMANA Anda mengatakan (nada, pitch, dan ritme suara bicara);</li>
          <li>Coba lebih rasakan bagaimana respon orang lain terhadap Anda. Orang hemisfer kanan biasanya lebih ekspresif secara emosional dan secara intuitif mengatakan mana yang &quot;terasa&quot; benar;</li>
          <li>Lihatlah gambaran besar dari sesuatu, kemungkinan-kemungkinan darinya dengan sebanyak mungkin informasi dari indera.</li>
          <li>Ajukan lebih banyak pertanyaan terbuka &quot;mengapa?&quot; dan &quot;bagaimana?&quot;</li>
          <li>Cobalah lebih bersikap spontan. Anda tidak perlu membuat rencana untuk segala hal.</li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>

</div>


