<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="font-row font-secondary">
        <div class="header">
          <div class="name bold">Kecerdasan Laten</div>
        </div>
        <div class="header">
          <h4>(Kecerdasan Majemuk / Multiple Intelligences)</h4>
        </div>

        <p>
          Bacaan Kecerdasan Laten mengungkap kecenderungan genetis Anda pada ranah kompetensi tertentu. Sebagai kecenderungan genetis yang sifatnya dorman (tidur), maka kecerdasan ini BELUM akan terjelma sebagai kompetensi unggulan Anda di saat sekarang atau nanti manakala kecerdasan tersebut tidak/belum dia (atau dengan bantuan Anda) latih dan asah.
        </p>
        <p>Identifikasi Kecerdasan Laten menunjukkan ranah-ranah bakat terbesar yang mana Anda akan butuh sumberdaya (waktu, uang, energi) yang lebih sedikit bilamana ananda mengasahnya. Bukan hanya itu, apa yang menjadi bakat bawaan akan memungkinkan Anda mencapai tingkat prestasi yang lebih tinggi dibanding rata-rata. Lebih jauh lagi, Anda juga akan merasakan kepuasan batin yang sangat besar dari sekedar bisa menjalani aktivitas di ranah kecerdasan bersangkutan. Sebaliknya, apa yang bukan merupakan kecerdasan genetisnya, biasanya akan membutuhkan upaya yang ekstra dibanding rata-rata untuk bisa menguasai dan menjadi ahli di dalamnya.</p>
        <p>Seluruh bentuk kecerdasan ini pasti ada di setiap orang. Hanya saja, masing-masing orang memiliki kecenderungan lebih tinggi di satu atau beberapa sisi dan sekaligus lemah di yang lain. Bacaan tendensi kecerdasan genetis berikut BUKANLAH vonis bagi Anda di masa sekarang maupun di masa depan. Pada dasarnya, Anda dapat menjadi apapun yang dia inginkan. Namun perihalnya sekarang adalah pada berapa besar upaya dan sumberdaya yang ananda dia butuhkan untuk itu. Semakin Anda mendekat ke wilayah bakatnya, semakin mudah dan murah investasi yang perlu dia (dan Anda sebagai orang tua) keluarkan. Sementara untuk yang bukan menjadi bakat bawaan, Anda tetap dapat mencapainya, namun dengan upaya lebih besar dan lebih susah payah.</p>
        <p>Setiap ranah kecerdasan berikut dapat diarahkan pada jenis profesi atau jenis kerja tertentu. Jika Anda belum mendapat gambaran terkait jenis pekerjaan yang ingin Anda bidik, silahkan gunakan informasi berikut sebagai acuan. Sementara bila Anda sudah menerjuni profesi tertentu dan telah merasa cocok dengannya, Anda dapat menggunakan informasi berikut untuk lebih mengoptimalkan sisi kecerdasan yang Anda secara bakat telah kuat padanya, serta menguatkan bakat terlemah Anda agar tidak sampai pada titik yang membahayakan peran kerja yang Anda jalani sekarang. Anda juga dapat menggunakan informasi berikut sebagai acuan untuk mencoba profesi, pekerjaan, atau job description yang baru.</p>
      </div>

    </div>

  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Gambaran Kecerdasan Majemuk</nb-card-header>
      <nb-card-body>
        <iframe width="400" height="315" src="https://www.youtube.com/embed/s2EdujrM0vA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <br>
        <p>Catatan: di analisis JaPo, kecerdasan Naturalistik tidak menjadi bagian dari kecerdasan laten, melainkan masuk sebagai bagian dalam personality traits. Di JaPo terdapat kecerdasan laten Abstrak Lateral atau Imajinasi yang ini tidak terdapat di konsep Multiple Intelligence Howard Gardner.</p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card size="large">
      <nb-card-header>
        Ragam Kecerdasan Majemuk Laten
      </nb-card-header>
      <nb-card-body>

        <!--<button class="btn btn-success" (click)="showLargeModal()">Large modal</button>-->

        <p><button class="btn btn-info btn-sm" (click)="showKecBahasa()"> 1 - Kecerdasan Bahasa</button></p>
        <p><button class="btn btn-info btn-sm" (click)="showKecLogis()"> 2 - Kecerdasan Logis</button></p>
        <p><button class="btn btn-info btn-sm" (click)="showKecGambar()"> 3 - Kecerdasan Gambar</button></p>
        <p><button class="btn btn-info btn-sm" (click)="showKecMusikal()"> 4 - Kecerdasan Musikal</button></p>
        <p><button class="btn btn-info btn-sm" (click)="showKecGerak()"> 5 - Kecerdasan Gerak</button></p>
        <p><button class="btn btn-info btn-sm" (click)="showKecInterpersonal()"> 6 - Kecerdasan Interpersonal</button></p>
        <p><button class="btn btn-info btn-sm" (click)="showKecIntrapersonal()"> 7 - Kecerdasan Intrapersonal</button></p>
        <p><button class="btn btn-info btn-sm" (click)="showKecAbstrak()"> 8 - Kecerdasan Abstrak</button></p>


        <!--<button class="btn btn-warning" (click)="showSmallModal()">Small modal</button>-->
        <!--<button class="btn btn-primary" (click)="showStaticModal()">Static modal</button>-->



      </nb-card-body>
    </nb-card>
  </div>
</div>
