<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="font-row font-secondary">
        <div class="header">
          <div class="name bold">Modalitas Belajar</div>
        </div>

        <p>
          Bahasan modalitas terkait dengan bagaimana kita menyerap informasi saat berinteraksi maupun mempelajari suatu hal. Ketika seseorang menyerap informasi berdasarkan kekuatan modalitasnya, maka informasi akan dapat terserap lebih cepat dan terekam dengan lebih baik.
        </p>
        <p>Modality strength adalah saluran paling efisien untuk memproses informasi, yang dalam hal ini dapat lebih dari satu saluran. Modality strength berbeda dengan modality preference. Modality strength menunjukkan keunggulan (genetis) dari saluran pemrosesan informasi, sementara modality preference adalah preferensi atau pilihan modalitas oleh seseorang terlepas dari modalitas genetisnya. Modality preference dapat berubah bergantung pengaruh dari lingkungan dan pola asuhan belajar. Pembelajaran dapat berlangsung optimal ketika seseorang menyesuaikan strategi belajarnya berdasarkan modality strength-nya.</p>
        <p>Salah satu manfaat terbesar dari belajar tentang belajar adalah meningkatkan tanggung jawab sang pembelajar atas proses pembelajaran dirinya sendiri. Ketika Anda telah mengetahui modalitas belajar Anda dan bagaimana karakteristiknya, maka Anda dapat belajar sesuai dengan modalitas itu. Dengan demikian, Anda akan mampu menangkap informasi yang berubah cepat dan terus bertambah secara lebih &quot;mandiri&quot;. Ketika Anda menerima tanggung jawab atas pembelajaran diri, maka nilai dari proses belajar menjadi bertambah. Anda pun akan menjadi lebih terpuaskan dengan proses pembelajaran Anda serta segala lingkungan interaksi belajar Anda.</p>
      </div>

    </div>

  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Penjelasan dari pakar</nb-card-header>
      <nb-card-body>
        <iframe width="400" height="315" src="https://www.youtube.com/embed/IpRxRAEw4Fw?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card size="large">
      <nb-card-header>
        Tiga Modalitas Belajar
      </nb-card-header>
      <nb-card-body>
        <div class="alert alert-info" role="alert">
          <strong>PEMBELAJAR VISUAL </strong>berpikir dalam gambar dan belajar terbaik melalui bentuk-bentuk visual dan isyarat non verbal misal gerak bahasa tubuh untuk membantu pemahaman. Pembelajar visual biasanya merasa perlu membuat catatan lengkap dari materi yang disajikan.
        </div>
        <div class="alert alert-success" role="alert">
          <strong>PEMBELAJAR AUDITORI</strong> mencerna informasi dengan baik melalui pendengaran dan menginterpretasi informasi melalui pitch, penekanan suara, dan kecepatan bicara. Mereka mendapatkan pengetahuan melalui membaca keras-keas secara lebih baik daripada dari informasi tertulis.
        </div>
        <div class="alert alert-warning" role="alert">
          <strong>PEMBELAJAR KINESTETIK</strong> belajar dengan baik melalui pendekatan aktif, interaksi dengan dunia fisik, dan keterlibatan langsung. Rata-rata pembelajar kinestetik mengalami kesulitan dalam bertahan lama di suatu target tertentu dan bisa kehilangan fokus dengan mudahnya.
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
