<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-body>
        <blockquote class="blockquote">Analisis sidik jari JaPo merupakan salah satu metode untuk mengidentifikasi bakat seseorang dalam sifatnya yang genetis atau bawaan lahir. JaPo bukanlah ramalan, mengingat seseorang pada akhirnya juga terbentuk melalui pola asuhan, lingkungan, dan tempaan nasib. Analisis JaPo menggunakan prosedur ilmiah yang didasarkan pada keilmuan sidik jari, dan telah melalui pengujian dan pembuktian. </blockquote>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/gisyb88asbw" frameborder="0" allowfullscreen></iframe>
      </nb-card-body>
    </nb-card>


    <nb-card>
      <nb-card-header>
        Apakah validitas analisis JaPo telah teruji?
      </nb-card-header>
      <nb-card-body>
        <p>Di sini kami hanya bisa mewakili JaPo. Sejak awal, sumber riset yang kami gunakan telah diuji tingkat akurasinya oleh pihak independen (Edward D. Campbell, pakar fingerprint science dari Amerika) dengan angka akurasi 87% (faktor pengaruh pola asuh membuatnya tidak dapat mencapai 100%). Untuk mengkonfirmasi validitas ini, maka kami pun telah melakukan riset menggunakan metode Chi Square Goodness of Fit dan Pearson’s Correlation Coefficient terhadap 189 orang yang kesemuanya melakukan pengidentifikasian tipikal kepribadian dan keterampilan melalui kuesioner dan juga melalui analisa JaPo.</p>

        <p>Dalam studi ini kami mendapatkan nilai chi square statistic (X2) sebesar 34.76661106 dengan number of categories (k) = 24, Degree of freedom (df) = 23, dan Level of significance (α) = 0.05. Dengan critical value X2.05 = 35.172, dapat disimpulkan bahwa null hypothesis kami dapat diterima.</p>

        <blockquote class="blockquote">Kesimpulan: Distribusi hasil identifikasi responden sampel yang didapat melalui analisa sidik jari JaPo adalah sama dengan distribusi hasil identifikasi yang didapat melalui pengisian kuesioner.</blockquote>

        <p>Dalam perhitungan dalam metode Pearson’s Correlation Coefficient, kami mendapatkan nilai koefisien korelasi (r) sebesar 0.923663453. Koefisien korelasi (nilai di antara -1 dan +1) menyatakan seberapa kuat dua variabel terkait satu sama lain. Koefisien korelasi +1 menunjukkan korelasi positif sempurna, di mana ketika variabel X meningkat, variabel Y juga meningkat; dan ketika varibel X menurun, variabel Y juga menurun. Sementara koefisien korelasi 0 menunjukkan tidak adanya korelasi.</p>

        <blockquote class="blockquote">Dengan koefisien korelasi (r) sebesar 0.923663453, hal ini menunjukkan hasil analisa JaPo memiliki korelasi yang sangat tinggi terhadap hasil pengisian berbasis kuesioner.</blockquote>
      </nb-card-body>
    </nb-card>



  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Fingerprint Analysis</nb-card-header>
      <nb-card-body>
        <p><img src="assets/images/gambar-bg-japo.jpg" alt="JaPo" width="400"></p>

          <p>Sidik jari merupakan ‘backdrop’ atau fitur unik manusia yang bekerja di latar belakang sebagai suatu tendensi alami dan mencerminkan pola kesadaran (consciousness) manusia bawaan dari lahir. Sidik jari ini mengungkap orientasi inheren manusia seperti potensi kompetensi, kepribadian, dan tendensi psikologis.</p>

          <p>Ilmu yang mempelajari tentang sidik jari disebut sebagai <mark>Dermatoglyphic</mark> (derma = kulit, glyphs = ukiran), suatu istilah yang dicetuskan oleh Harold Cummins , seorang professor bidang Microscopic Anatomy di Tulane University.</p>

          <p>Salah satu bahasan terlengkap tentang formasi sidik jari disusun oleh John J. Mulvihill, MD dan David W. Smith MD yang diterbitkan di Journal of Pediatrics keluaran Oktober 1969. Paper mereka yang berjudul The Genesis of Dermatoglyphics mengulas panjang lebar sejarah studi terkait formasi sidik jari dan memberikan penjelasan terkait pembentukan pola sidik jari yang masih belum dianggap usang sampai sekarang sekalipun.</p>

          <p>Sidik jari telah digunakan sebagai cara untuk pengidentifikasian selama lebih dari 2000 tahun. Dalam rentang 150 tahun terakhir, dermatoglyphics telah menjadi alat yang bermanfaat untuk menjawab beragam pertanyaan di ranah biologi, pengobatan, antropologi, dan psikologi.</p>

          <p>Penelitian tentang analisa sidik jari untuk pengenalan bakat alami pada awalnya dimulai dari wilayah Asia (Cina, Korea, Thailand, India). Profesor Young-Hwan merupakan salah satu peneliti ternama yang telah menyelidiki hubungan antara pola sidik jari, kepribadian bawaan dan potensi bakat berpiano . Selain itu, telah ada juga peneliti yang telah menemukan korelasi positif antara pola sidik jari dan potensi kecerdasan seseorang.</p>

          <p>Letak pola sidik jari yang ada di ujung jari mengandung arti signifikan. Jari-jari manusia dapat dipandang sebagai manifestasi dari pola berpikir, sikap psikologis dan orientasi kesadaran manusia. Bagian ujung dari jemari kita secara spesifik terasosiasikan dengan kecerdasan dan pola cerebral otak manusia.</p>

          <p>Oleh karenanya, <mark>sidik jari bukan hanya merupakan indikator faktor psikologis yang bersifat turunan, namun juga mampu mengungkapkan kerangka kita dalam menyikapi dan mengkonseptualisasi sesuatu dalam ranah berpikir</mark> sedemikian rupa menjadi prediktor bagi bagaimana kita bersikap dan bertindak.</p>

          <p>Konsep yang berlaku mirip dengan apa yang para psikolog sebut sebagai “gestalt”, dalam hal manusia sendiri merupakan entitas utuh “unified whole” hasil perpaduan dari segenap tendensi, motif, bakat spesifik masing-masing. Bagian ujung dari jemari manusia secara spesifik terasosiasikan dengan kecerdasan dan pola cerebral otak.</p>
      </nb-card-body>
    </nb-card>
  </div>




</div>

<!--
<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Light" type="primary">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Roller Shades" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Wireless Audio" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Coffee Maker" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>
-->
