
<div class="row">

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Hasil Kecerdasan Majemuk</nb-card-header>
      <nb-card-body>

        <ngx-chartjs-bar-horizontal-keclaten>
          <br><br>
        </ngx-chartjs-bar-horizontal-keclaten>
        <br>
        <br>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-lg-6">


    <nb-card class="inline-form-card" *ngIf="apaBerbakatVisual_1">
      <nb-card-header>Kecerdasan Visual</nb-card-header>
      <nb-card-body>
        <p>Dengan kecerdasan Visualnya, ananda {{ namaKlien }} berpotensi memiliki kelebihan dalam hal:</p>
        <ul>
          <li>Mampu untuk mengenali identitas sebuah obyek ketika obyek itu ada dari sudut pandang yang berbeda;</li>
          <li>Mampu untuk membayangkan gerakan atau perpindahan tempat. Misalnya, saat bermain balok, si anak dapat membayangkan kalau sebuah balok dipindahkan nantinya akan terbentuk sebuah bangun seperti yang ia inginkan;</li>
          <li>Mampu untuk memahami hubungan ruang antara tubuhnya atau dirinya dengan orang lain. Misalnya saja, saat anak naik sepeda ia bisa memperkirakan jarak antara dirinya dengan sebuah pohon.</li>
        </ul>
        <br>
        <p>Profesi yang bisa dipilih bagi anak yang memiliki bakat alami kecerdasan visual:</p>
        <blockquote class="blockquote">
          <p class="mb-0">3D modeling, arsitek, programmer komputer, insinyur, animator, perancang busana, fotografer, navigator, pilot, pematung, perencana strategis, surveyor, perencana perkotaan, webmaster.
        </blockquote>
        <br>
      </nb-card-body>
    </nb-card>

    <nb-card class="inline-form-card" *ngIf="apaBerbakatVisual_2">
      <nb-card-header>Mengembangkan bakat ananda {{ namaKlien }} </nb-card-header>
      <nb-card-body>
        <ul>
          <li><mark>Menggambar dan melukis.</mark> Dengan peralatan yang sederhana dan bisa dilakukan di mana saja, menggambar adalah kegiatan yang dapat distimulasikan kepada ananda. Perkenalkan kepada ananda beragam warna dasar, dan coba minta dia untuk menceritakan apa yang digambarnya. Namun jangan paksa dia untuk melakukannya;</li>
          <li><mark>Mencorat-coret.</mark> Sebelum menggambar, biasanya anak memulai dengan membuat coretan-coretan terlebih dahulu. Coretan yang merupakan wujud imajinasinya ini memang akan tampak sebagai bentuk yang sama sekali tak berarti atau tak berwujud. Namun ini adalah tahap yang penting dalam pengembangan imajinasi dan kreativitas ananda;</li>
          <li><mark>Membuat prakarya.</mark> Ajaklah ananda membuat prakarya dari bahan sederhana macam sedotan berwarna, cat air, tali rafia berwarna, kertas origami, dan sebagainya. Aktivitas ini akan membantu dia melatih keterampilan dalam memanipulasi benda;</li>
          <li><mark>Putarkan video dan ajaklah ananda pergi keluar.</mark> Intinya adalah memperkenalkan berbagai bentuk kepadanya, yang bisa dicapai dengan memperlihatkan gambar, video. Atau yang lebih baik adalah mengajak ananda pergi ke museum, kebun binatang, taman, dan sebagainya. Pengalaman ini memberikan pengalaman bagi pikirannya untuk membentuk bangun dalam gambar;</li>
          <li><mark>Bermain konstruksi.</mark> Permainan membangun sesuatu dengan balok, lego, dough atau malam mainan dapat membantu ananda melatih kemampuan visual-spasialnya.</li>
        </ul>
        <br>
      </nb-card-body>
    </nb-card>







  </div>
</div>



